@media (max-width: 650px){
    .products{
        display: inherit;
        height: auto;
        
    }
    .product{
        margin-top: auto;
    }
    .main_section{
        padding: 5%;
    }

    .options{
        display: initial;
    }
}